Repository Mai0313/Chess-AI-Pytorch, pull requests merged in 2023-10, with the labels that each got.

#4 Fix/notebook: visualize the chessboard while self-play
  .github/workflows/gpt-code-review.yml
  notebooks/ChessModel.ipynb
  notebooks/Inference_after_training.ipynb
Labels: Chore: CI/CD Workflow, Chore: CI/CD Config

#6 feat: clean chessboard every round
  notebooks/ChessModel.ipynb
  notebooks/Inference_after_training.ipynb
  src/models/components/alpha_net.py
Labels: Feature: New File, Bugfix: Source Code

#7 refactor: change inference and reorganize all game strategy
  .gitignore
  configs/experiment/md3.yaml
  notebooks/ChessModel.ipynb
  notebooks/Inference_after_training.ipynb
  src/data/chess_datamodule.py
  src/data/components/gen_data.py
  src/models/components/alpha_net.py
  src/models/components/cnn.py
  src/utils/chess_utils.py
Labels: Feature: New File, Bugfix: Source Code

#8 feat: add AlphaZero code; but not done yet
  configs/experiment/md4.yaml
  data.dvc
  src/data/components/gen_data.py
  src/models/components/alpha_zero.py
  src/models/components/loss_fn.py
  src/models/components/mcts.py
Labels: Feature: New File, Bugfix: Source Code

#16 feat: implement ChessTransformer model and remove progress update in …
  .github/workflows/test.yml
  src/data/components/gen_data.py
  src/models/components/transformer.py
Labels: Feature: New File, Bugfix: Source Code, Chore: CI/CD Workflow, Chore: CI/CD Config

#20 Feat: Intro to Lc0 and Stockfish database
  .gitignore
  .pre-commit-config.yaml
  configs/experiment/example.yaml
  configs/experiment/md1.yaml
  configs/experiment/md2.yaml
  configs/experiment/md3.yaml
  configs/experiment/md4.yaml
  configs/model/chess.yaml
  engine.dvc
  notebooks/ChessModel.ipynb
  notebooks/gen_ai_data.ipynb
  notebooks/mcts_demo.ipynb
  src/data/chess_mcts_datamodule.py
  src/data/components/convert.py
  src/data/components/gen_data.py
  src/models/chess_mcts_module.py
  src/models/components/alpha_net.py
  src/models/components/alpha_zero.py
  src/models/components/cnn.py
  src/models/components/loss_fn.py
  src/models/components/mcts.py
  src/models/components/transformer.py
  src/utils/get_platform.py
Labels: Feature: New File, Bugfix: Source Code, Chore: Code Style

#21 Fix/generate data
  .github/workflows/test.yml
  .pre-commit-config.yaml
  notebooks/gen_ai_data.ipynb
  requirements.txt
  setup_engine.bat
  setup_engine.py
  setup_engine.sh
  src/data/chess_datamodule.py
  src/data/chess_mcts_datamodule.py
  src/data/components/gen_data.py
  src/models/chess_mcts_module.py
  src/models/chess_module.py
  src/models/components/alpha_zero.py
  src/utils/get_platform.py
Labels: Feature: New File, Bugfix: Source Code, Chore: CI/CD Workflow, Chore: CI/CD Config, Chore: Requirements, Chore: Code Style

#23 Feat: add a data generator for gen data with value
  configs/experiment/md4.yaml
  notebooks/gen_train_data.ipynb
  pyproject.toml
  setup_engine.py
  src/data/chess_datamodule.py
  src/data/chess_mcts_datamodule.py
  src/data/components/gen_data.py
  src/models/chess_mcts_module.py
  src/models/chess_module.py
  src/models/components/transformer.py
  src/train.py
  src/utils/logging_utils.py
  tests/helpers/run_if.py
  tests/test_eval.py
Labels: Feature: New File, Bugfix: Source Code, Chore: Tests, Chore: Code Style

#25 Clean some code base and remove unnecessary inputs
  configs/data/chess.yaml
  configs/experiment/md3.yaml
  configs/experiment/md4.yaml
  data.dvc
  engine.dvc
  src/data/chess_datamodule.py
  src/data/chess_mcts_datamodule.py
  src/data/components/convert.py
  src/models/chess_mcts_module.py
  src/models/chess_module.py
Labels: Feature: New File, Bugfix: Source Code, Chore: CI/CD Workflow, Chore: CI/CD Config

#26 feat: add lc0 to inference notebook
  notebooks/Inference_after_training.ipynb
  notebooks/mcts_demo.ipynb
  src/models/components/mcts.py
  src/utils/chess_utils.py
Labels: Feature: New File, Bugfix: Source Code

#29 ci: add GitHub workflow for OpenAI Issue Labeler
  .github/workflows/gpt-issue-labeler.yml
Labels: Chore: CI/CD Workflow, Chore: CI/CD Config

#33 Docs: add Readme Docs
  .github/workflows/gpt-code-review.yml
  README.md
Labels: Chore: CI/CD Workflow, Chore: CI/CD Config, Chore: Documentation

#34 chore: refactor file handling and improve performance
  configs/data/chess.yaml
  configs/experiment/md4.yaml
  configs/experiment/md5.yaml
  configs/experiment/md6.yaml
  configs/experiment/md7.yaml
  configs/experiment/md8.yaml
  scripts/gen_data.py
  src/data/components/gen_data.py
  src/models/components/cnn_v2.py
  src/models/components/dcnn.py
  src/models/components/res_net.py
  src/models/components/rnn.py
  src/models/components/transformer_v2.py
  tests/test_datamodules.py
Labels: Feature: New File, Bugfix: Source Code, Chore: Tests
